body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  margin-top: 0;
font-family: 'Sacramento', cursive;
color: white;
}
h2{
font-family: 'Montserrat', sans-serif;
color: white;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:white;
}
p
{color:white;}
table{
  color: white;
}

div{
  background-color: #06062A;
  border: 10px;
  padding: 20px;

}
table{
  width: 25%;
}
.verylitteicons{
  width: 20px;
  height: 20px;
}
.top-container{
  position:relative;
  padding-top: 50px;
  background-image: url("https://images.hdqwalls.com/download/planets-vector-10k-j4-1336x768.jpg");
  height: 700px;
}
.middle-container{


}
.bottom-container{

}
.icons{
  width: 100px;
  height: 100px;
}

.star{
  position: absolute;
  top:60px;
  left: 200px;
  width: 112px;
  height: 112px;
}
.guy{
  position: fixed;
  right: 200px;
  top:80px;
  width: 150px;
  height: 150px;
}
.alien{
  position: absolute;
  right: 100px;
  width: 100px;
  height: 100px;
}
.cloud3{
  position: absolute;
  bottom: 444px;
  left: 400px;
}
