body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-size: 450%;
  margin: 0 auto 0 auto;
font-family: 'Sacramento', cursive;
color: white;
}
h2{
  font-size:30px;
  margin: 0;
font-family: 'Montserrat', sans-serif;
color: white;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:white;
}

hr{
  border: dotted #f4cca4 6px;
  border-bottom: none;
  width: 8%;
  margin: 70px auto;
}

p{
  color:white;
  line-height: 2;
}
table{
  color: white;
}

div{
  background-color: #06062A;
  border: 10px;
  padding: 20px;

}
table{
  width: 25%;
}

.top-container{
  position:relative;
  padding-top: 50px;
  background-image: url("https://images.hdqwalls.com/download/planets-vector-10k-j4-1336x768.jpg");
  height: 700px;
  overflow: hidden;
}
.top-container img {
  transition: transform .5s ease;
}
.top-container:hover img {
  transform: scale(1.2);
}

@media screen and (min-width : 320px) and (max-width : 480px)  {
  .top-container {
    background-image: no-repeat center center fixed;}
}

.middle-container{

}

a{
  color: #a3ddcb;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 10px 10px;
  text-decoration: none;
}
a:hover{
  color: #f6f6f6;
}
.copyright{
  color: #a3ddcb;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  padding: 20px 0;
}

.bottom-container{
  background-color: #0a043c;
  padding: 50px 0 20px;

}

.star{
  position: absolute;
  top:60px;
  left: 200px;
  width: 112px;
  height: 112px;
}
.guy{
  position: fixed;
  right: 200px;
  top:80px;
  width: 150px;
  height: 150px;
}
.alien{
  position: absolute;
  right: 100px;
  width: 100px;
  height: 100px;
}
.cloud3{
  position: absolute;
  bottom: 444px;
  left: 400px;
}

.skill-code{
width: 50%;
margin: auto;
text-align: left;
line-height: 2;
overflow: hidden;
}
.skill-code{
width: 50%;
margin: auto;
text-align: left;
line-height: 2;
overflow: hidden;
}
.skill-code img {
  transition: transform .5s ease;
  width: 20%;
  float: left;
  margin-right: 30px;
  margin-top: 45px;
}
.skill-code:hover img {
  transform: scale(1.2);
}

.skill-cyber{
  width: 50%;
  margin: auto;
  text-align: right;
  line-height: 2;
  overflow: hidden;
}
.skill-cyber img {
  transition: transform .5s ease;
  width: 20%;
  float: right;
  margin-left: 30px;
  margin-top: 30px;
}
.skill-cyber:hover img {
  transform: scale(1.2);
}

.skill-idioms{
width: 50%;
margin: auto;
text-align: left;
line-height: 2;
overflow: hidden;
}
.skill-idioms img {
  transition: transform .5s ease;
  width: 20%;
  float: left;
  margin-right: 30px;
  margin-top: 45px;
}
.skill-idioms:hover img {
  transform: scale(1.2);
}

.btn {
  background: #085080;
  background-image: -webkit-linear-gradient(top, #085080, #20a0f5);
  background-image: -moz-linear-gradient(top, #085080, #20a0f5);
  background-image: -ms-linear-gradient(top, #085080, #20a0f5);
  background-image: -o-linear-gradient(top, #085080, #20a0f5);
  background-image: linear-gradient(to bottom, #085080, #20a0f5);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #a5cee8;
  background-image: -webkit-linear-gradient(top, #a5cee8, #076fb5);
  background-image: -moz-linear-gradient(top, #a5cee8, #076fb5);
  background-image: -ms-linear-gradient(top, #a5cee8, #076fb5);
  background-image: -o-linear-gradient(top, #a5cee8, #076fb5);
  background-image: linear-gradient(to bottom, #a5cee8, #076fb5);
  text-decoration: none;
}
